<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="listing">

    <p th:if="${ #lists.isEmpty({{ names }}) }">
        No {{ names }} found.
    </p>

    <table class="table" th:if="${ not #lists.isEmpty({{ names }}) }">
        <thead>
        <tr>
            <th>Id</th>{{#each fields as |f|}}
            <th>{{ FieldName }}</th>{{/each}}
            <th style="width:250px"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="{{ name }} : ${ {{ names }} }">
            <td th:text="${ {{ name }}.id }"></td>{{#each fields as |f|}}
            <td th:text="${ {{ name }}.{{ fieldName }} }"></td>{{/each}}
            <td>
                <a up-follow th:href="@{ /{{ names }}/{id}(id=${ {{ name }}.id }) }">Show</a> |
                <a up-modal=".main" th:href="@{ /{{ names }}/{id}/delete(id=${ {{ name }}.id }) }">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="formFields">{{#each fields as |f|}}
    <div class="form-group row">
        <label for="{{ fieldName }}" class="col-sm-2 col-form-label">{{ FieldName }}</label>{{#if isDateInput}}
        <div class="col-sm-10">
            <input type="date" class="form-control" id="{{ fieldName }}" name="{{ fieldName }}" th:value="${ {{ name }}?.{{ fieldName }} }" />
        </div>{{else if isTextInput}}
        <div class="col-sm-10">
            <input type="text" class="form-control" id="{{ fieldName }}" name="{{ fieldName }}" th:value="${ {{ name }}?.{{ fieldName }} }" />
        </div>{{else if isNumberInput}}
        <div class="col-sm-10">
            <input type="number" class="form-control" id="{{ fieldName }}" name="{{ fieldName }}" th:value="${ {{ name }}?.{{ fieldName }} }" />
        </div>{{else if fieldRelationship}}
        <div class="col-sm-10">
            <input type="number" class="form-control" id="{{ fieldName }}" name="{{ fieldName }}" th:value="${ {{ name }}?.{{ fieldName }} }" />
        </div>{{/if}}
    </div>
{{/each}}</div>

<div th:fragment="details">{{#each fields as |f|}}
    <div class="form-group row">
        <label for="{{ fieldName }}" class="col-sm-2 col-form-label">{{ FieldName }}</label>
        <div class="col-sm-10">
            <div class="form-control-plaintext" id="{{ fieldName }}" th:text="${ {{ name }}?.{{ fieldName }} }"></div>
        </div>
    </div>
{{/each}}</div>

</body>
</html>