<template>
  <form @submit.prevent="save{{ Name }}">
    <input id="id" v-model="{{ name }}.id" type="hidden">{{#each fields as |f|}}
    <div>
      <label for="{{ fieldName }}">{{ FieldName }}</label>
      <input id="{{ fieldName }}" v-model="{{ name }}.{{ fieldName }}" type="text">
    </div>{{/each}}
    <div>
      <button>Save {{ Name }}</button>
    </div>
  </form>
</template>

<script lang="ts">
import Vue from "vue";

export default {
  props: ['{{ name }}'],
  methods: {
    save{{ Name }}(data) {
      const actualData = JSON.parse(JSON.stringify(this.{{ name }}))
      this.$emit("save", actualData)
    }
  }
}
</script>
