<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: defaultHead"></head>
<body>
<div th:replace="fragments/layout :: header"></div>

<h1>Show {{ Name }}</h1>
<div>
    <div th:replace="fragments/{{ names }} :: details"></div>

    <form th:action="@{ /{{ names }} }" method="post">
        <input type="hidden" name="id" th:value="${ {{ name }}.id }"/>
        <button name="delete" onClick="confirm('Are you sure?')">Delete</button>
    </form>

    <a th:href="@{ /{{ names }}/{id}/edit(id=${ {{ name }}.id }) }">Edit {{ Name }}</a>
    <a th:href="@{ /{{ names }} }">Go Back</a>
</div>

<div th:replace="fragments/layout :: footer"></div>
</body>
</html>
