<template>
<template>
  <div>
    <h1>Edit {{ Name }}</h1>

    <{{ Name }}Form :{{ name }}Id="{{ name }}Id" v-on:save="navigateToListPage()" />

    <nuxt-link :to="'/{{ names }}'">List of {{ Names }}</nuxt-link>
    <nuxt-link :to="'/{{ names }}/' + this.$route.params.{{ name }}Id">Show</nuxt-link>
  </div>
</template>

<script lang="ts">
import {{ Name }}Form from "@/components/{{ names }}/{{ Name }}Form.vue"
import Vue from "vue";
import Component from "nuxt-class-component";

@Component
export default class extends Vue {
  {{ name }}Id: number = parseInt(this.$route.params.{{ name }}Id)

  async navigateToListPage() {
    await this.$router.push({ path: '/{{ names }}' })
  }
}
</script>
