<template>
    <div>
        <h2>{{ Name }} \{{ this.$route.params.id }}</h2>

        <table>
            <tbody>
            <tr>
                <td>Id</td>
                <td>\{{ {{ name }}.id }}</td>
            </tr>{{#each fields as |f|}}
            <tr>
                <td>{{ FieldName }}</td>
                <td>\{{ {{ name }}.{{ fieldName }}</td>
            </tr>{{/each}}
            </tbody>
        </table>

        <nuxt-link :to="'/{{ names }}'">List of {{ Names }}</nuxt-link>
    </div>
</template>
<script>
    import { {{ name }}ById } from '../../../queries/{{ names }}.graphql';
    import Vue from "vue";

    export default Vue.extend({
        async asyncData({$graphql, params}) {
            let result = await $graphql.request({{ name }}ById, {id: params.id})
            return { {{ name }}: result.{{ name }}ById }
        }
    })
</script>
